# Завдання №1

## Завдання 1 " Конструкції Python"

In [2]:
x = 10
y = 12.5
s = "Недашківська Т."
a = [x, y, s]
b = False
t = (y, "Str")

print("Тип змінної x:", type(x))
print("Тип змінної y:", type(y))
print("Тип змінної s:", type(s))
print("Тип змінної a:", type(a))
print("Тип змінної b:", type(b))
print("Тип змінної t:", type(t))

Тип змінної x: <class 'int'>
Тип змінної y: <class 'float'>
Тип змінної s: <class 'str'>
Тип змінної a: <class 'list'>
Тип змінної b: <class 'bool'>
Тип змінної t: <class 'tuple'>

In [3]:
print(x+y)
print(x-y)
print(x/y)
print(x%y)
print(x*y)
print(x//y)
print(x**y)

22.5
-2.5
0.8
10.0
125.0
0.0
3162277660168.3794

In [4]:
print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x<=y)
print(x>=y)

False
True
False
True
True
False

In [5]:
print(str(x))
print(str(t))
print(int(x))
print(float(x))
print(float(y))

10
(12.5, 'Str')
10
10.0
12.5

## Завдання 3 "Введення/вивід з консолі"

In [6]:
e = float(input())

10

In [7]:
print(e**5)

100000.0

In [8]:
name = "Тетяна"
surname = "Недашківська"
print (name, surname)
print("2+3", 5, sep=" -> ")

Тетяна Недашківська
2+3 -> 5

У функції print() символ , розділяє аргументи функції, які відображаються в окремих рядках, а аргумент sep визначає роздільник між ними.

In [11]:
print("{} {} - це студент".format(name, surname))
print("Результат буде = {}".format(20 / 5 + 4))
b = True
print("{} - {} дівчина!".format(name, b))
print("{} {}".format(surname, name))

Тетяна Недашківська - це студент
Результат буде = 8.0
Тетяна - True дівчина!
Недашківська Тетяна

## Завдання 4 "Керування обчисленнями"

In [15]:
x = float(input("Введи x: "))

# ----- 1 ----------
if x > 5:
    print (x)
    
# ----- 2 ----------    
if -5 < x < 5 :
    print (x)
else:
    print (x ** 2)
    
# ----- 3 ----------
if x > -5:
    print (x)
elif -5 < x < 5:
    print (x ** 2)
elif x > 5:
    print (x ** (1/2))

Введи x: 35
35.0
1225.0
35.0

*x* = -10 Спрацював лише другий if з умовою else

x = 35 Спрацювали всі if без else (у 2 if виконалась else умова)

x = 4 Спрацювали 2 if перша умова та 3 if перша умова

In [16]:
age = int(input("Твій вік "))
if 0 <= age <=6:
    print('малятко')
elif 7<= age <=17:
    print('школяр')
else:
    print('студент')

Твій вік 5
малятко

In [17]:
for i in range(10):
    if i % 2 != 0:
        print (-i)
    else:
        pass

-1
-3
-5
-7
-9

Даний код знаходиться всередині циклу for, який виконується 10 разів, кожен раз створюється змінна і. Потім перевіряєтсья умова: якшо число не парне - число виводиться на екран з мінусом.

In [18]:
sum = 0
for i in range(10, 101):
    if i % 3 == 0:
        sum += i
print(sum)

1665

In [19]:
while(input("тисни тут: ") != '0'):
    print ("було введено")

тисни тут: 1000
було введено
тисни тут: 100
було введено
тисни тут: 0

Цей код запускає нескінченний цикл, доки користувач не введе '0'

In [20]:
i = 10
total = 0
while i <= 100:
    if i % 3 == 0:
        total += i
    i += 1
print(total)

1665

# Завдання №2

## Завдання 1 "Операції над списками"

In [22]:
i_am = []
i_am.append('Тетяна')
print(id(i_am))

140645949038080

In [23]:
i_am.append('Недашківська')
print(i_am, id(i_am))

['Тетяна', 'Недашківська'] 140645949038080

## Завданяя 2 "Срізи в списках"

In [24]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(my_list[:4])
print(my_list[-4:])
for num in my_list:
    if num % 2 == 0:
        print(num)

[1, 2, 3, 4]
[7, 8, 9, 10]
2
4
6
8
10

In [25]:
my_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
my_list[1][0] = 777
print(my_list)

[[1, 2, 3], [777, 5, 6], [7, 8, 9]]

In [26]:
my_list[0][2], my_list[1][1] = my_list[1][1], my_list[0][2]
print(my_list)

[[1, 2, 5], [777, 3, 6], [7, 8, 9]]

# Завдання №3 "Операції з файлами"

## Завдання 1 "Запис в файл"

In [32]:
file = open('my_file_.txt', 'w+')
for i in range(1, 30):
    file.write(f"{i}-й рядок\n")
file.close()

## Завдання 2 "Читання з файла"

In [34]:
file = open('my_file_.txt', 'r')
for i in range(30):
        print(file.readline().strip())
file.close()

1-й рядок
2-й рядок
3-й рядок
4-й рядок
5-й рядок
6-й рядок
7-й рядок
8-й рядок
9-й рядок
10-й рядок
11-й рядок
12-й рядок
13-й рядок
14-й рядок
15-й рядок
16-й рядок
17-й рядок
18-й рядок
19-й рядок
20-й рядок
21-й рядок
22-й рядок
23-й рядок
24-й рядок
25-й рядок
26-й рядок
27-й рядок
28-й рядок
29-й рядок

## Завдання 2 "Контекстні менеджери"

In [36]:
with open('my_file.txt', 'r') as file:
    for i in range(15):
        print(file.readline().strip())

1-й рядок
2-й рядок
3-й рядок
4-й рядок
5-й рядок
6-й рядок
7-й рядок
8-й рядок
9-й рядок
10-й рядок